<ion-view title="Account">
  <ion-content class="has-header padding">
    <h1>Account</h1>
    <button class="button" onClick="test();">
	  Take Photo
	</button>
	<img id='photo'>
	</img>
  </ion-content>
</ion-view>
<script>
function test(){
	console.log("22222");
	navigator.camera.getPicture(onSuccess, onFail, { quality: 50, destinationType: Camera.DestinationType.FILE_URI });
}

function onSuccess(imageURI) {
    var image = document.getElementById('photo');
    image.src = imageURI;
	alert(imageURI);
}

function onFail(message) {
    alert('Failed because: ' + message);
}

</script>