<ion-view title="Account">

	<ion-nav-buttons side="right">
		<button class="button-icon icon ion-lightbulb" onClick="testCamera()"></button>
		<button class="button-icon icon ion-jet" onClick="testFile()"></button>
	</ion-nav-buttons>
	
  <ion-content class="has-header padding">
	<img id='photo'>
	</img>
  </ion-content>
</ion-view>
<script>
function testCamera(){
	console.log("22222");
	navigator.camera.getPicture(onSuccess, onFail, { quality: 50, destinationType: Camera.DestinationType.FILE_URI });
}

function onSuccess(imageURI) {
    var image = document.getElementById('photo');
    image.src = imageURI;
	alert(imageURI);
}

function onFail(message) {
    alert('Failed because: ' + message);
}

function testFile(){
	console.log("22222");
	navigator.camera.getPicture(onSuccess, onFail, { quality: 50, destinationType: Camera.DestinationType.FILE_URI });
}

</script>